[Unit]
Description=redis daemon
After=network.service

[Service]
Type=forking
ExecStart=/usr/local/bin/redis-server /etc/redis.conf

[Install]
WantedBy=multi-user.target
